USE [master]
GO
/****** Object:  Database [BackendDb]    Script Date: 3/23/2017 2:28:15 PM ******/
CREATE DATABASE [BackendDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BackendDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\BackendDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BackendDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\BackendDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BackendDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BackendDb]
GO
USE [BackendDb]
GO
/****** Object:  Table [dbo].[Barang]    Script Date: 3/23/2017 2:28:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Barang](
	[BarangID] [nvarchar](5) NOT NULL,
	[KategoriID] [int] NULL,
	[NamaBarang] [nvarchar](50) NULL,
	[Stok] [int] NOT NULL,
	[HargaBeli] [money] NOT NULL,
	[HargaJual] [money] NOT NULL,
 CONSTRAINT [PK_Barang] PRIMARY KEY CLUSTERED 
(
	[BarangID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Kategori]    Script Date: 3/23/2017 2:28:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategori](
	[KategoriID] [int] IDENTITY(1,1) NOT NULL,
	[NamaKategori] [nvarchar](50) NULL,
 CONSTRAINT [PK_Kategori] PRIMARY KEY CLUSTERED 
(
	[KategoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Barang] ([BarangID], [KategoriID], [NamaBarang], [Stok], [HargaBeli], [HargaJual]) VALUES (N'HH001', 3, N'Hardisk Seagate 500GB', 2, 500000.0000, 550000.0000)
SET IDENTITY_INSERT [dbo].[Kategori] ON 

INSERT [dbo].[Kategori] ([KategoriID], [NamaKategori]) VALUES (1, N'Printer')
INSERT [dbo].[Kategori] ([KategoriID], [NamaKategori]) VALUES (2, N'Flashdisk')
INSERT [dbo].[Kategori] ([KategoriID], [NamaKategori]) VALUES (3, N'Hardisk')
SET IDENTITY_INSERT [dbo].[Kategori] OFF
ALTER TABLE [dbo].[Barang] ADD  CONSTRAINT [DF_Barang_Stok]  DEFAULT ((0)) FOR [Stok]
GO
ALTER TABLE [dbo].[Barang] ADD  CONSTRAINT [DF_Barang_HargaBeli]  DEFAULT ((0)) FOR [HargaBeli]
GO
ALTER TABLE [dbo].[Barang] ADD  CONSTRAINT [DF_Barang_HargaJual]  DEFAULT ((0)) FOR [HargaJual]
GO
ALTER TABLE [dbo].[Barang]  WITH CHECK ADD  CONSTRAINT [FK_Barang_Kategori] FOREIGN KEY([KategoriID])
REFERENCES [dbo].[Kategori] ([KategoriID])
GO
ALTER TABLE [dbo].[Barang] CHECK CONSTRAINT [FK_Barang_Kategori]
GO
USE [master]
GO
